body{
    font-family: Lato, sans-serif;
    text-align: center;
}

h2{
font-size: 36px;
color: #1a2b44 ;}

button {
    
    background: #a77252; 
    color: white;
    border-radius: 10px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-right: auto;
    margin-left: auto;
   
}

.reference{
    background: #8cb191 ;
    padding: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-style: italic;
    color: #1a2b44;
    font-size: 18px;
}
#quote{
    text-align: center;
}

#signature{
    text-align: right ;
}

p{
    padding-left: 1rem;
    padding-right: 1rem;;
}

.caroussel{
    width: 100%;
	height: 30rem;
    display: flex;
    flex-direction: column; 
    align-items: flex-end;  
    justify-content: flex-end;
    padding-bottom: 2rem;
    padding: 3rem;
    background-image: url("https://images.unsplash.com/photo-1464195085758-89f3e55e821e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=869&q=80");
}

.css{
    margin-top: 5rem;
    margin-bottom: 5rem;
}


/* CSS Barre de navigation*/

nav {
    display: flex;
    background-color: #1a2b44;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
  
  }
   
  ul {
      list-style-type: none;
      display: flex;
      background-color: #1a2b44;
      flex-direction: column;
      gap: 6px;
      color: whitesmoke;
  }
  
  a {
      color: whitesmoke;
      text-decoration: none;
  }
  
  a:hover {
    background-color: #a77252;
  }

  /* Mise en page du Footer*/ 
  .footer {
     background-color: #1a2b44;
     display: flex;
     justify-content: center;
     margin-top: none;
  }


  /* CSS corps de la page*/ 
  .texteengagement {
    background-color: #8cb191;
    margin-bottom: none;
 }

  /* Mise en page Marc*/
  .parent {
    position: relative;
    width: 300px;
    height: 300px;
    margin: auto;
}
.child1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 100%;
    background:#8cb191;
}

.marc {
    z-index: 1;
    margin: 30px ;
    height: 300px;
    width: 280px;
}

